@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 52 45; /* #2a0a10 */
    --foreground: 0 5 96; /* #ffe4e6 */
    --card: 42 52 45;
    --card-foreground: 0 5 96;
    --popover: 42 52 45;
    --popover-foreground: 0 5 96;
    --primary: 0 93 13; /* #4a0404 */
    --primary-foreground: 0 5 96; /* #ffe4e6 */
    --secondary: 338 65 27; /* #881337 */
    --secondary-foreground: 0 0 100;
    --muted: 340 47 26; /* #5c1c2b */
    --muted-foreground: 0 5 80;
    --accent: 45 93 47; /* #fbbf24 */
    --accent-foreground: 0 0 0;
    --destructive: 0 84 60;
    --destructive-foreground: 0 0 100;
    --border: 338 65 27; /* #881337 */
    --input: 338 65 27;
    --ring: 0 5 96;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}